@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300,100italic,100,300italic);
html { font-size:62.5%;}
body {  background:#fff; color:#333; direction: ltr; font-size: 1.0em; font-family:Lato, Helvetica, sans-serif, "黑體", "LiHei Pro", "Heiti TC", "微軟正黑體","Microsoft JhengHei"; padding: 0; margin:0; -webkit-text-size-adjust:none; word-wrap:break-word;}
form, input, select, textarea{margin:0; padding:0; font-family:Lato, Helvetica, sans-serif, "Heiti TC", "微軟正黑體","Microsoft JhengHei";}
textarea, input{ font-size:1em}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display:block;}
aside, blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
img{ border:0; -ms-interpolation-mode: bicubic; display: block;}
aside, figure, figcaption, p, ul, ol, li, h1, h2, h3, h4, h5, h6{ margin:0; padding:0}
a{ color:#3c8dcc; text-decoration:none;}
a:hover{ color:#fcfcfc; text-decoration:underline}
details summary::-webkit-details-marker { display:none; }
details summary{display:none;}
p{ font-size:1.4em;}